<%- include('partials/header') %>
<div class="container">
    <div class="firm">
      <p>HODLINFO<span class="com">.com</span></p>
      <p class="powered">Powered by <span class="comp">Finstreet</span></p>
    </div>
    <select id="course" name="inr" required>
      <option value="price"><p>INR</p></option>
      <option value="kdln">C++</option>
      <option value="kaf">Java</option>
      <option value="dkvfd">Android Development</option>
    </select>
    <select id="course2" name="btc" required>
        <option value="lfslf"><p>BTC</p></option>
        <option value="vmsmcv">C++</option>
        <option value="dfd">Java</option>
        <option value="dfkfgd">Android Development</option>
    </select>
    <p class="number">58</p>
    <button class="btn-edit" type="submit" name="button"><span class="telegram"><i class="fab fa-telegram-plane"></i> Connect Telegram</span></button>
    <div class="button-round">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
   </div>
  </div>
  <form action="/" method="post">
    <table style="width:100%">
        <tr>
          <th>#</th>
          <th>name</th>
          <th>Last</th>
          <th>Buy/Sell Price</th>
          <th>volume</th>
          <th>base_unit</th>
        </tr>

    </table>
  </form>
<%- include('partials/footer') %>
